{
    "mediaPackage": {
      "password": "!"
    },
    "SubtitlingAudioReceiver": {
        "listenerPort": 7950,
        "containerImage": "204077245812.dkr.ecr.us-east-1.amazonaws.com/media/auto_live_subtitling:latest",
        "listenerCount": 1
    }
}
  